src/projet_3_bridge/settings/local_settings_sylvain.py
src/projet_3_bridge/settings/local_settings_paola.py
src/projet_3_bridge/settings/local_settings_patrick.py
src/projet_3_bridge/settings/local_settings_godefroy.py
.env
.DS_Store
